.case1 {
    background-color: rgba(53, 56, 61, 0.31);
    border-radius: 48px;
    margin-top: 121px;
    margin-bottom: 120px;
    padding: 52px;
}

.case1_header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
}

.case1_main {
    margin-top: 170px;
    display: flex;
}

.case1_main-left {
    max-width: 472px;
}

.case1_main-left-title {
    font-size: 32px;
    margin: 0 0 36px 0;
    font-weight: 500;
}

.case1_main-left-text {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 32px 0;
}

.case1_main-left-text:last-child {
    margin: 0;
}

.case1_main-left-table {
    margin-top: 274px;
}

.case1_main-left-table-string {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
}

.case1_main-left-table-text-key {
    opacity: .5;
}

.case1_main-left-table-string:nth-child(2) {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.case1_main-right {
    margin-left: 123px;
    display: flex;
    gap: 29px;
}

.case1_main-pic {
    max-width: 352.89px;
}