.exp {
    display: flex;
    margin-bottom: 285px;
}

.exp_title {
    font-weight: 500;
    font-size: 40px;
    margin: 0 0 36px 0;
}

.exp_text {
    font-weight: 400;
    font-size: 20px;
    max-width: 472px;
    margin: 0 0 32px 0;
}

.exp_text:last-child {
    margin-bottom: 0;
}

.exp_left {
    margin-right: 64px;
}

.exp_top {
    display: flex;
    margin-bottom: 32px;
}

.exp_pic1 {
    background-color: #EDF0F2;
    width: 410px;
    height: 565px;
    border-radius: 32px;
    margin-right: 32px;
}

.exp_pic2 {
    background-color: #EDF0F2;
    width: 786px;
    height: 565px;
    border-radius: 32px;
}

.exp_pic3 {
    background-color: #EDF0F2;
    width: 1228px;
    height: 483px;
    border-radius: 32px;
}