.intro {
    margin-top: 124px;
}

.intro_wrapper {
    display: flex;
    margin-bottom: 80px;
}

.intro_content {
    max-width: 822px;
}

.intro_title {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-weight: 300;
    margin: 0 435px 0 0;
}

.intro_text {
    font-weight: 500;
    font-size: 24px;
    margin: 0;
}

.intro table {
    margin-top: 60px;
}

.intro_text-small1 {
    font-size: 20px;
    font-weight: 500;
    opacity: .6;
    padding-bottom: 12px;
}

.intro_text-small1:first-child {
    padding-right: 48px;
}

.intro_text-small2 {
    font-size: 20px;
    font-weight: 500;
}

.intro_text-small2:nth-child(2) {
    padding-right: 48px;
}

.intro_pic-wrapper {
    background-color: #DBDDE0;
    display: flex;
    border-radius: 48px;
    gap: 48px;
    justify-content: center;
    padding-top: 66px;
}

.intro_pic {
    width: 420px;
}